h1{
    font-size:50pt;
}
body {
background-color: darkolivegreen;
color: ghostwhite;
margin: 15px; 

}
h2{
    font-size: 35pt;
padding-left: 5%; 
outline: auto  ;   
}
h3{
background-color: rgb(41, 47, 32);
}
p{
    text-align: center;
    border: dotted;
    border-width: thick;
}
div{
    padding: 1.5%;
    text-align: center;
   
}
footer{
    visibility: hidden;
}